body{
     margin:0;
    background-image: 
        linear-gradient(rgba(10,10,30,0.7), rgba(10,10,30,0.7)),
        url("../img/bg.jpg") ;
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}

nav{
    text-align: center;
    font-size:22px;
    background-color:#1D125E;
    padding: 12px 50px; 
    width: fit-content;     
    margin: 20px auto;     
    border-radius: 15px;       
    background: rgba(29, 18, 94, 0.6);  
    backdrop-filter: blur(10px);
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(133,196,230,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
nav:hover {
    box-shadow: 0 0 15px rgba(133, 196, 230, 0.25);
}
nav a {
    font-family: 'Orbitron', sans-serif;
    color: #85c4e6;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s;
}
nav a:hover {
    color: white;
    background: rgba(133, 196, 230, 0.15);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(133, 196, 230, 0.3);
}
.dropdown{
    position:relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(29, 18, 94, 0.9);
    border-radius: 10px;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0 0 10px rgba(133,196,230,0.2);
}
.dropdown-content a{
    display: block;
    padding: 10px 20px;
    color: #85c4e6;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    text-align:left;
}

    

.dropdown:hover .dropdown-content {
    display: block;
    
}
h1{
    font-family: 'Orbitron', sans-serif;
    text-align:center;
    font-size:50px;
    color:#85c4e6;}


.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top:30px;
}

.event-card {
  
  background:rgb(29, 18, 94,0.01);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
  margin-top:70px;
  border: 1px solid #00f0ff;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #00f0ff;
}

.event-card h3 {
  margin: 10px;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  color: #85c4e6;
}

.event-card p {
  margin: 0 10px 15px;
  color:rgb(201, 214, 227);
}
.filter-container {
  position: absolute;
  top: 120px;   
  left: 40px;
  z-index: 10;
}

.dropdown1 {
  margin-top:70px;
  background:#1D125E;
  font-family: 'Orbitron', sans-serif;
  color: #85c4e6;  
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  width: 180px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(8px);
}

.dropdown1-menu {
  margin-top: 8px;
  background: #1D125E;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.dropdown1-menu div {
  padding: 10px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  color: #85c4e6;;
}

.dropdown1-menu div:hover {
    background: rgba(133, 196, 230, 0.15);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(133, 196, 230, 0.3);
}
.dropdown1-menu {
  display: none;
}
.footer{
    margin-top:100px;
    padding:30px;
    background: rgba(29, 18, 94, 0.4);
    color:#bcdff5;
    text-align:center;
}
.foot-top{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-bottom:10px;
}
.foot-top img{
     width: 20px;
    height: 20px;
} 
html, body {
    height: 100%;
}
@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}
